QPushButton
{
        background-image: url(":/images/res/images/[name]_m.png");
        background-repeat: no-repeat;
}
QPushButton:hover
{
        background-image: url(":/images/res/images/[name]_t.png");
        background-repeat: no-repeat;
}
QPushButton:pressed
{
        background-image: url(":/images/res/images/[name]_b.png");
        background-repeat: no-repeat;
}
